@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
:root {
    --primary-color: #649aa1;
    --secondary-color:rgb(55, 142, 174);
    --accent1-color:black;
    --accent2-color:#03045E;

    --heading-font: italic;
    --paragraph-font:"Medium 500",serif;

    
    --nav-link-color:#023E8A;    
    --nav-hover-link-color:#44d0ec;    
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
}
.box1{  
    width: auto;
    display: flex;    
    background: var(--secondary-color);
    padding: 25px;         
    align-items: center;
    justify-content: space-around;
     
}
.box2{    
    display: flex;
    left: 100px;       
}

.size{
    height: 200px;
    width: 200px;
    margin:10px;
    
}

nav a:hover{
    color:var(--nav-hover-link-color)
}
header a{  
    width: 100px;  
    height: 30px;
    font-style:var(--heading-font);
    font-size: 20px;    
    color:var(--accent1-color);      
    border:3px solid rgb(38, 2, 146);    
    padding: 20px;
    text-align: center; 
    text-decoration: none; 
      
}
body{
    display: grid;         
    font-family: 'Times New Roman', Times, serif;   
}
.hero{   
    width: 100%;
    display: flex;   
    height: auto;   
}
/*css form*/
form{
    width: 415px;
    height: 350px;   
    padding: 20px;    
    border-radius: 0.5rem;   
    display: flex;    
    background-color: #d8dfd8;
    opacity: 0.9;
    margin-top: 2em;
    margin-right: 40px;    
}
/*Part form*/
.item1{
    display:flex;
    padding: 1em;   
}

h1{
    margin-top: 50px;
    top: 250px;
    font-size: 50px;
    padding: 20px;    
    opacity: 0.8;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #8ee8f4 ;
}
.container1{
    display:flex;
    position: relative;
    justify-content: center;    
    flex-direction: row;  
    bottom: 800px;
    align-content: flex-start;
     
}
img{
    width: 350px;
    height: 500px;   
    border-radius: 1rem;
}
legend{
    height: 80px;
    padding: 1rem;
    color: rgb(0, 0, 7);
    font-size: 40px;
}    

label, input, button, select, textarea,button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;   
}
/*Explore bottom*/
.center1{
    display:flex;
    justify-content: center;
    padding: 15px;
    width: 500px;
    height: 50px;
    position: relative;
    font-size: 30px;    
    background-color: #8ee8f4;
    opacity: 0.9;
    bottom:700px;
    left:615px;
    border-radius: 1em;
    font-family: 'Times New Roman';        
}
.center1:hover {
    background-color: rgb(216, 186, 50);
}

/*Submit bottom*/
button{   
    display: flex;
    background-color:var(--primary-color);  
    border: none;
    border-radius: .2rem;
    padding: 6px;;
    font-size: 2rem;
    width: 150px;
    height: 45px; 
    justify-content: center;      
}
.center{
    display: grid;
    justify-content: center;
    margin:20px;
}
button:hover {
    background-color: rgb(216, 186, 50);
}
main{    
   height: 2500px;
   background-color: #44d0ec;
   
   
}

/*Only images down*/
.figure{   
    position: relative;
    bottom: 500px;
    display: grid;   
}

.class2{
    display: grid;
    position: relative;
    width: 400px;
    height: 300px;    
    margin-top: 30px; 
    bottom:30px; 
    margin-top: 0;     
    margin-bottom: 0;
}
.class3{
    display: grid;
    position: relative;
    width: 350px;
    height: 300px;   
    left: 60%;
    bottom: 50px;
    margin-top: 0;     
    margin-bottom: 0; 
}
/* 2 images*/
.parr1{
    display: grid;
    position: relative;
    font-size: 22px;
    width: 400px;
    height: 300px;
    text-align: justify;
    top: 70px; 
    margin-top: 0;     
    margin-bottom: 0;
}
.parr2{
    position: relative;
    font-size: 25px;
    width: 800px;
    height: 150px;
    text-align: center;
    top:150px;
    left: 250px;
    margin-top: 0;     
    margin-bottom: 0;
}
.box7{
    display: grid;
    justify-content: center;  
}  

/*Paragraphs thogeter img*/
.minbox{
    display: grid;
    position: relative;
    padding: 2em;
    float: right;   
}




/*footer*/
.class5 {
    width: 30px;
    height: 30px;
    display:inline-flex; 
    margin-top: 10px; 
     
}
.box6{  
 
    display:flex;  
    padding: 20px; 
    justify-content:space-evenly;
    font-size: 20px;
    background-color: var(--secondary-color);
  
}
.correct{
    background-color: #44d0ec;
    height: 900px;
   
}



