@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
:root {
 --primary-colour:#90E0EF;
 --secondary-colour:#00B4D8;
 --accent1-colour:#023E8A;
 --accent2-colour:#03045E;
 --heading-font:"Regular 400";
 --paragrap-font: "Medium 500";
 --nav-background-colour: #00b4d8;
 --nav-link-colour:#023E8A;    
 --nav-hover-link-colour:#023E8A;
 --nav-hover-background-colour:#00B4D8;
}
body{
    font-family: var(--paragrap-font);
    max-width: 960px;
    padding:20px;
}
h1, h2, h3, h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--accent1-colour);
}
header{
    padding:20px;
    background-color:var(--accent1-colour) ;
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-colour);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color:var(--nav-link-colour);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color:var(--nav-link-colour);
}
nav a:hover{
    color: var(--nav-hover-background-colour);
    background-color:var(--nav-hover-background-colour);
}