.callout {
    maximum:
     width: 
     margin:
      border:
       padding:
        background
         color
          text color
	
}

.callout img {
    position (float)
     margin
      border
      padding
       background color
        width
         height
	
}

blockquote {

    margin
	
}

cite {
    display
    top border
    top padding
     text alignment
      size of font
	
}